body, html {
    top: 0;
    left: 0;
    right: 0;
    margin: 0px;
}

.active {
    background-color: cadetblue;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.application {
    width: 80%;
}

.dashboard {
    overflow-y: scroll;
    height: 100vh;
}

.option {
    padding: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: larger;
    text-align: right;
}

.responseCard {
    border-style: solid;
    border-radius: 20px;

}

#home {
    padding: 0px;
    top: 0;
    left: 0;
    display: flex;
}


#sidebar-navigation {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 20%;
    height: 100vh;
    background-color: aliceblue;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}